#contenedor-3d {
    width: 400px; /* Ancho del contenedor */
    height: 450px; /* Alto del contenedor */
}

#contenedor-icosaedro {
    width: 100px; /* Ancho del contenedor */
    height: 100px; /* Alto del contenedor */
}

.Barra-de-figuras3D {

}