<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/examples/js/loaders/GLTFLoader.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats de Emilio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/style_celular.css" rel="stylesheet">
    <link href="../styles/3D.css" rel="stylesheet">
    <link href="../styles/barra-de-chats-style.css" rel="stylesheet">
    <link href="../styles/products.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <img src="../images/LogoLetrasBlancasSinFondo.png" alt="Logo" class="logo">
    </header>

    <div class="top-section">
        <div id="contenedor-icosaedro"></div>
        <h1 class="title">Inteligencia Artificial</h1>
        <h1 class="title-part2">potenciando tu organización</h1>
    </div>
    
    <div class="text-between">
        <p>Bots entrenados a la medida de tu empresa trabajando 24 horas al día, 7 días a la semana y 366 días al año para tí.</p>
    </div>
    <div class="Barra-de-chats-horizontal">
        <div class="chat-box" data-chat-number='1'></div>
        <div id="contenedor-3d"></div>
        <div class="chat-box" data-chat-number='2'></div>
        <div class="chat-box" data-chat-number='3'></div>  
    </div>
    <div class="Barra-de-figuras3D">
        
        
    </div>
    
    <!-- Contenedores para los Chats con data-chat-number -->
    
    <!-- Inicio de la Nueva Sección -->
<div class="custom-section">
    <div class="container">
      <h2 class="section-title">Productos para potenciar tu negocio</h2>
      <div class="row">
        <!-- Bloque de contenido #1 -->
        <div class="col-md-6">
          <img src="../images/LogoLetrasBlancasSinFondo.png" alt="Imagen Descriptiva 1" class="col-custom">
          <div class="custom-content-style">
          <h3>Bots con entrenamiento basado en IA</h3>
          
          <p>Nuestros bots de Inteligencia Artificial están diseñados para transformar 
            la manera en que interactúas con tus clientes. Utilizando las más avanzadas 
            técnicas de aprendizaje automático, estos bots pueden comprender y responder 
            a consultas en tiempo real, ofreciendo una experiencia de usuario fluida y 
            altamente personalizada. Perfectos para el servicio al cliente, asistencia en 
            ventas, y mucho más, nuestros bots aprenden continuamente de las interacciones 
            para mejorar su eficacia. Libera el potencial de un servicio al cliente que 
            opera 24/7, sin sacrificar la calidad.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-content-style">
            <img src="../images/BOT2.webp" alt="Descripción del producto" class="custom-content-style">
          </div>
        </div>

        <div class="col-md-6">
          <div class="custom-content-style">
            <img src="../images/BOT.webp" alt="Descripción del producto" class="custom-content-style">
          </div>
          
        </div>
        <div class="col-md-6">
          <img src="../images/LogoLetrasBlancasSinFondo.png" alt="Imagen Descriptiva 1" class="col-custom">
          <div class="custom-content-style">
          <h3>Bots IA + Bases de datos</h3>
          <p>Eleva la capacidad de tus bots de IA integrándolos con potentes bases de datos. 
            Esta combinación permite no solo interactuar inteligentemente con los usuarios 
            sino también acceder y procesar información relevante al instante. Ideal para 
            aplicaciones que requieren de consultas complejas o personalización extrema, 
            estos bots pueden gestionar tareas como seguimiento de pedidos, recomendaciones 
            basadas en historial de compras, y soporte técnico avanzado. La integración con 
            bases de datos abre un mundo de posibilidades para automatizar y optimizar las 
            operaciones de negocio.</p>
          </div>
        </div>
        

        <div class="col-md-6">
          <img src="../images/LogoLetrasBlancasSinFondo.png" alt="Imagen Descriptiva 1" class="col-custom">
          <div class="custom-content-style">
          <h3>Aplicación Web con servicios intergados</h3>
          <p>Nuestra aplicación web ofrece una solución integral que combina la funcionalidad de 
            bots de IA y la eficiencia de sistemas de gestión de bases de datos en una única 
            plataforma robusta. Diseñada para empresas que buscan mejorar su presencia en 
            línea y automatizar procesos, esta aplicación facilita la gestión de contenido, 
            interactúa con los usuarios mediante inteligencia artificial y accede a información 
            crucial en tiempo real. Con una interfaz amigable y personalizable, es la solución 
            perfecta para negocios que desean ofrecer una experiencia rica y cohesiva a sus clientes, 
            sin complicaciones técnicas.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="custom-content-style">
            <img src="../images/BOT3.webp" alt="Descripción del producto" class="custom-content-style">
          </div>
        </div>          
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de la Nueva Sección -->
  

    
    <script type="module"  src="../scripts/3D.js"></script>
    <script type="module"  src="../scripts/icosaedro.js"></script>
    <script type="module"  src="../scripts/robot.js"></script>
    <script src="../scripts/textoDinamico.js"></script>
    <script src="../scripts/funciones.js"></script>
    <script src="../scripts/simulated_script_2.js"></script> <!-- Script para el segundo chat -->
    
</body>
</html>
