body {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start; /* Alinea elementos al inicio, permitiendo movimiento horizontal */
    justify-content: flex-start;
    background-color: #000; /* Fondo oscuro */
    color: #fff; /* Texto claro */
    font-family: 'League Spartan', sans-serif;
    overflow-x: auto;
}

header {
    margin-top: 30px;
    display: flex;
    justify-content: center; 
}

  

.chat-container {
    width: 100%; /* Ancho completo en dispositivos móviles */
    width: 400px; /* Ancho máximo para pantallas más grandes */
    height: 450px;
    margin: 20px; /* Un poco de margen en todos los lados */
    border: 1px solid #444; /* Borde oscuro */
    border-radius: 15px;
    background-color: #333; /* Fondo de contenedor oscuro */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Sombra clara para contraste */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.chat-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #222; /* Fondo oscuro para el encabezado */
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: 'League Spartan', sans-serif;
    
    
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #111; /* Fondo muy oscuro para los mensajes */
    color: #ccc; /* Texto gris claro */
}


.form-control {
    color: white;
    background-color: #222; /* Fondo similar al de WhatsApp */
}

.form-control:hover {
    background-color: #222; /* Maintain the black background on hover */
    color: white; /* Maintain the white text color on hover */
}

.form-control:focus {
    background-color: #222; /* Maintain the black background */
    color: white; /* Maintain the white text color */
    outline: none; /* Optional: removes the default focus outline */
}

.form-control::placeholder { /* Estiliza el texto del placeholder */
    color: white; /* Cambia el color del texto del placeholder a blanco */
    opacity: 0.3; /* Opcional: asegura que el color sea totalmente opaco */
}

.form-control:hover::placeholder {
    color: white; /* Mantiene el color del placeholder en blanco al pasar el mouse */
}

.form-control:focus::placeholder {
    color: white; /* Mantiene el color del placeholder en blanco al enfocar */
}

.chat-form {
    padding: 10px;
    background-color: #222; /* Fondo oscuro para el formulario */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    gap: 10px;
}


textarea {
    width: calc(100% - 90px);
    resize: none;
    background-color: #333; /* Fondo oscuro para el área de texto */
    color: #fff; /* Texto claro */
    border: 1px solid #444; /* Borde oscuro */
}

.btn-send, .btn-clear {
    background-color: #444; /* Fondo oscuro para botones */
    color: #fff; /* Texto claro */
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-clear:hover, .btn-send:hover {
    background-color: #555; /* Fondo más claro al pasar el ratón */
}

/* Estilos base para todas las burbujas de mensajes */
.message-bubble {
    max-width: 80%; /* Controla el ancho máximo de la burbuja */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 18px; /* Da forma redondeada a las burbujas */
    display: block;
    clear: both;
}

/* Estilos específicos para mensajes del usuario */
.message-bubble.user {
    background-color: #1b1b1b; /* Fondo oscuro para los mensajes del usuario */
    color: #ddd;  /* Color de fondo para los mensajes del usuario */
    margin-left: 20%; /* Alinea los mensajes del usuario a la derecha */
    margin-right: 4%;
    text-align: left;
    float: right;
}

/* Estilos específicos para respuestas del asistente */
.message-bubble.assistant {
    background-color: #3B3B6D; /* Gris azulado oscuro, evocando profundidad e inteligencia */
    color: #F5F5DC; /* Blanco cremoso, para un contraste suave y legible */
    margin-right: 20%; /* O ajusta según el espacio deseado del borde derecho */
    margin-left: 4%; /* Espacio pequeño del borde izquierdo */
    text-align: left; /* Texto alineado a la izquierda dentro de la burbuja */
    float: left; /* Flota a la izquierda dentro del contenedor */
}
/* Asegúrate de añadir estos estilos a tus mensajes en la función renderConversationHistory */

/* Estilo para el mensaje "escribiendo..." */
.writing {
    color: #999; /* Un gris más claro para el texto */
    font-style: italic; /* Opcional: para diferenciar aún más el mensaje "escribiendo..." */
}

.top-section {
    padding: 10px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
    text-align: center; /* Asegura que el texto dentro de los elementos esté centrado */
    width: 100%;
}

.contenedor-icosaedro{
    height: 80px;
}

