@media (max-width: 900px) {
    .logo {
        display: block;
        margin-left: 0; /* Remueve el margen izquierdo para centrar en dispositivos móviles */
        width: 200px; /* Reduce el tamaño del logo */
    }
    .title {
        font-size: 36px; /* O el tamaño que desees */
    }
}